<div class="window-wrapper js-tab-parent">
  <a class="icon-lg icon-close dialog-close-button js-close-window" href="#"></a>
  
  <div class="card-detail-window u-clearfix">
    
    <div class="window-header">
      <span class="window-header-icon icon-lg icon-card"></span>
      <div class="window-title">
        <textarea class="mod-card-back-title js-card-detail-title-input" dir="auto" style="overflow: hidden; word-wrap: break-word; height: 15px;">{{card.title}}</textarea>
      </div>
      <div class="window-header-inline-content quiet js-current-list">
        <p class="u-inline-block u-bottom">
          in list 
          <a class="js-open-move-from-header" href="#">{{list.title}}</a>
        </p>
      </div>
      <div class="window-header-inline-content {{#unless card.subscribed}}hide{{/unless}} js-subscribed-indicator-header">
        <span class="icon-sm icon-subscribe"></span>
      </div>
    </div>

    <div class="window-main-col">
      <div class="card-detail-data u-gutter">
        <div class="card-detail-item card-detail-item-labels u-clearfix {{#unless card.labels}}hide{{/unless}} js-card-detail-labels">
          <h3 class="card-detail-item-header">Labels</h3>
          <div class="u-clearfix js-card-detail-labels-list js-edit-label">
            {{#each card.labels}}
            <span class="card-label card-label-{{this.color}} mod-card-detail mod-clickable" title="">&nbsp;</span>
            {{/each}}
          </div>
        </div>
      
        <div class="card-detail-item js-card-detail-due-date {{#unless card.dueDate}}hide{{/unless}}">
          <h3 class="card-detail-item-header">Due Date</h3>
          <span class="card-detail-badge card-detail-due-date-badge js-card-detail-due-date-badge is-clickable is-due-future" title="This card is due later.">
            <span class="js-date-text card-detail-due-date-text js-details-edit-due-date">{{card.dueDate}}</span>
          </span>
        </div>

        <div class="card-detail-item card-detail-item-block u-clearfix editable">
          <h3 class="card-detail-item-header js-show-with-desc {{#unless card.description}}hide{{/unless}}">Description</h3>
          <a class="card-detail-item-header-edit hide-on-edit js-show-with-desc js-edit-desc {{#unless card.description}}hide{{/unless}}" href="#">Edit</a>
          
          <div class="description-content js-desc-content">
            <div class="current markeddown hide-on-edit js-card-desc js-show-with-desc" dir="auto">
              <p>{{card.description}}</p>
            </div>
            <p class="u-bottom">
              <a class="quiet-button mod-with-image hide-on-edit js-edit-desc js-hide-with-desc {{#if card.description}}hide{{/if}}" href="#">
                <span class="icon-sm icon-description quiet-button-icon"></span>&nbsp;Edit the description…
              </a>
            </p>
            <div class="card-detail-edit edit">
              <form class="card-desc-form" action="/cards" method="put">
                <textarea class="field" placeholder="Add a more detailed description…" style="overflow: hidden; word-wrap: break-word; resize: none; height: 108px;">{{card.description}}</textarea>
                <div class="edit-controls u-clearfix">
                  <input class="primary confirm mod-submit-edit js-save-edit" type="submit" value="Save">
                  <a class="icon-lg icon-close dark-hover cancel cancel-edit" href="#"></a>
                </div>
              </form>
            </div>
        </div>
      </div>
      </div>

      <div class="window-module add-comment-section">
        <div class="window-module-title window-module-title-no-divider">
          <span class="window-module-title-icon icon-lg icon-comment"></span>
          <h3>Add Comment</h3>
        </div>

        <div class="new-comment js-new-comment">
          <div class="member member-no-menu"></div>
          <form class="card-comment-form" action="/cards" method="put">
            <div class="comment-frame">
              <div class="comment-box">
                <textarea class="comment-box-input js-new-comment-input" placeholder="Write a comment…" tabindex="1" dir="auto" style="overflow: hidden; word-wrap: break-word; height: 75px;"></textarea>
              </div>
            </div>

            <div class="comment-controls u-clearfix">
              <input class="primary confirm mod-no-top-bottom-margin js-add-comment" tabindex="3" type="submit" value="Save" disabled="">
            </div>
          </form>
        </div>
      </div>

      <div class="window-module">
        <div class="window-module-title window-module-title-no-divider">
          <span class="window-module-title-icon icon-lg icon-activity"></span>
          <h3>Activity</h3>
          {{!<div class="window-module-title-options">
            <a class="quiet js-show-details" href="#">Show Details</a>
            <a class="quiet hide js-hide-details" href="#">Hide Details</a>
          </div>}}
        </div>

        <div class="js-list-actions list-comments">
        </div>
        </div>
      </div>

    <div class="window-sidebar">
      <div class="window-module u-clearfix">
        <h3>Add</h3>
        <div class="u-clearfix">
          <a class="button-link js-edit-labels" href="#"><span class="icon-sm icon-label"></span>&nbsp;Labels</a>

          <a class="button-link js-add-due-date" href="#"><span class="icon-sm icon-clock"></span>&nbsp;Due Date</a>
        </div>
      </div>

      <div class="window-module other-actions u-clearfix">
        <h3>Actions</h3>
        <div class="u-clearfix">
          <a class="button-link js-move-card" href="#">
            <span class="icon-sm icon-move"></span>&nbsp;Move
          </a>
          <a class="button-link js-copy-card" href="#">
            <span class="icon-sm icon-card"></span>&nbsp;Copy
          </a>
          <div class="js-subscribe-sidebar-button">
            <a class="button-link js-subscribe {{#if card.subscribed}}is-on{{/if}}" title="Subscribe to the card to get notifications when something changes.">
              <span class="icon-sm icon-subscribe"></span>&nbsp;Subscribe
              <span class="on">
                <span class="icon-sm icon-check light"></span>
              </span>
            </a>
          </div>
          <a class="button-link js-archive-card" href="#">
            <span class="icon-sm icon-archive"></span>&nbsp;Archive
          </a>
        </div>
      </div>
    </div>
  </div>

</div>